<p-panel [showHeader]="false">
  <h1>Pipes Númericos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">

  <div class="col-4">
    <p-card header="Ventas Netas">
      {{ totalSells + 121 | number: '1.2-2'}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Netas">
      {{ totalSells | currency:'HNL':'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Netas">
      {{ percent | percent: '1.2-2'}}
    </p-card>
  </div>
</div>
